# Dependencies
node_modules/

# Builds
dist/
dist-ssr/
build/

# Environment & secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Editor
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.sw?

# OS
Thumbs.db

# Test
coverage/
